In [1]:
import pandas as pd
import seaborn as sns

In [2]:
df_train = pd.read_csv("train_genetic_disorders_cleaned.csv")

In [4]:
df_train.describe()

        patient_age  previous_abortions  symptom_total  total_blood_cells
count  18943.000000        18943.000000        18943.0       18943.000000
mean       6.950113            1.999842            5.0          12.379289
std        4.179720            1.343595            0.0           2.535277
min        0.000000            0.000000            5.0           7.302273
25%        3.000000            1.000000            5.0          10.548068
50%        7.000000            2.000000            5.0          12.380474
75%       10.000000            3.000000            5.0          14.184010
max       14.000000            4.000000            5.0          17.536404